<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Shortlist</title>
    <!-- Include any necessary CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
<div class="container">
    <br/> <h2>Shortlisted Students: </h2> <br/>
    <table id="example" class="table table-bordered" style="width: 100%">
        <thead class="table-dark">
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>SRN</th>
            <th>Phone Number</th>
            <th>Gender</th>
            <th>Branch</th>
            <th>Email</th>
            <th>CGPA</th>
            <th>Sem</th>
            <th>Resume Link</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="student : ${filteredStudents}">
            <td th:text="${student.id}"></td>
            <td th:text="${student.name}"></td>
            <td th:text="${student.srn}"></td>
            <td th:text="${student.phoneNo}"></td>
            <td th:text="${student.gender}"></td>
            <td th:text="${student.branch}"></td>
            <td th:text="${student.email}"></td>
            <td th:text="${student.cgpa}"></td>
            <td th:text="${student.sem}"></td>
            <td th:text="${student.resume_link}"></td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>